/*********************************************************************************/
/*                       rediffusions.html                                       */
/* youtubeViewers                                                                */
/*********************************************************************************/

#youtubeViewers
{
    display: grid;
    text-align: center;
    margin-top: 2em;
}
#youtubeViewer1
{
    grid-column:  2;
    grid-row: 3;
}
#youtubeViewer2
{
    grid-column:  1;
    grid-row: 3;
}
#youtubeViewer3
{
    grid-column:  1;
    grid-row: 4;
}
#youtubeViewer4
{
    grid-column:  2;
    grid-row: 4;
}

#youtubeViewer1 h3,#youtubeViewer2 h3, #youtubeViewer3 h3, #youtubeViewer4 h3
{
    font-size: 24px;
}


/*********************************************************************************/
/*                       planning.html                                           */
/* youtubeViewers                                                                */
/*********************************************************************************/

    /* NWS */
    #nwsStreamingPlanning
	{
		padding-top: 2em;
		padding-bottom: 2em;
		text-align: center;
	}
	#nwsStreamingPlanning a
	{
		text-decoration: none;
		font-size: 1.5em;
	}
	#nwsStreamingPlanning span
	{
		letter-spacing: 0.10em;
		text-transform: uppercase;
		font-size: 0.90em;
		color: #6C2A6A;
	}
	#nwsStreamingPlanning span a
	{
		color: #6C2A6A;
	}

    /* Planning IMG */
    #planningIMG
    {
        text-align: center;
        color: #6C2A6A;
    }
    #planningIMG img 
    {
        width: 1200px;
    }

    /* Section planning */
    #nwsStreamingPlanning
    {
        color: #6C2A6A;
    }


/*********************************************************************************/
/*                       EspaceMembre.html                                           */
/* youtubeViewers                                                                */
/*********************************************************************************/


    /* Wrappers */
	#wrapperEspaceMembreRedirection
	{
		background: #6C2A6A;
    }
    #wrapperEspaceMembreInfo
	{
		background: #6C2A6A;
	}

    /* nwsEspaceMembreRedirection */
    #nwsEspaceMembreInfo
	{
		width: 1200px;
		padding: 3em 100px 3em 100px;
		text-align: center;
		color: rgba(255, 255, 255, 0.900);
	}
	#nwsEspaceMembreInfo .title h2
	{
		color: rgb(255, 255, 255);
	}
	#nwsEspaceMembreInfo a, strong
	{
		color: rgb(255, 255, 255);
    }

    /* nwsEspaceMembreRedirection */
    #nwsEspaceMembreRedirection
	{
		width: 1200px;
		padding: 3em 100px 3em 100px;
		text-align: center;
		color: rgba(255, 255, 255, 0.900);
	}
	#nwsEspaceMembreRedirection .title h2
	{
		color: rgb(255, 255, 255);
	}
	#nwsEspaceMembreRedirection a, strong
	{
		color: rgb(255, 255, 255);
	}
/*********************************************************************************/
/* JeuxWeb.html                                                               */
/*********************************************************************************/

